<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.test.DeptMapper">

    <resultMap id="query1Map" type="com.model.test.Dept">
        <id column="deptno" property="deptno"/>
        <result column="dname" property="dname"/>
        <result column="loc" property="loc"/>
        <collection property="empList" ofType="com.model.test.Emp" columnPrefix="e_">
            <id column="empno" property="empno"/>
            <result column="deptno" property="deptno"/>
            <result column="ename" property="ename"/>
        </collection>
    </resultMap>

    <select id="query1" resultMap="query1Map">
         select d.*,e.deptno as e_deptno,e.ename as e_ename,e.empno as e_empno  from dept d left join emp e on e.deptno = d.deptno
    </select>

</mapper>